<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>RMS :: Sync Users in RMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <!--STYLESHEETS-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
</head>
<body>
    <div class="content">
        <h4 class="content-title">Sync Active Directory Users in RMS</h4>
        <div class="row">
            <div class="col-lg-6">
                <button type="submit" id="btnSyncADUsers" class="btn btn-success">Sync AD Users</button>
            </div>
        </div>
        <div id="push"></div>
        <h4 class="content-title">Sync Encompass Users in RMS</h4>
        <div class="row">
            <div class="col-lg-6">
                <button type="submit" id="btnSyncEncompassUsers" class="btn btn-success">Sync Encompass Users</button>
            </div>
        </div>
    </div>
</body>
</html>
